name: Build and Publish Image

on:
  # Only ever run workflow from a tagged push to the default branch (main)
  push:
    tags:
      - "v*.*.*"

  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to build (e.g., v1.2.3).'
        required: true
        type: string

jobs:
  build-and-deploy-image-gcr:
    runs-on: ubuntu-latest

    env:
      TAG_VERSION: ${{ inputs.tag || github.ref_name }}
      GCR_SERVICE_NAME: "document-ocr-service"
      PROJECT_ID: "document-ocr-480202"
      REGION_ID: "northamerica-northeast1"
      DOCKER_IMAGE_URL: "northamerica-northeast1-docker.pkg.dev/document-ocr-480202/document-ocr-images/document-ocr-backend:latest"
      DOCKER_IMAGE_PATH: "Dockerfile.prod"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Rectify 'v' from tag
        shell: bash
        run: |
          set -euo pipefail
          VERSION="${TAG_VERSION#v}"
          echo "TAG_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Lint Code with Ruff
        uses: ./.github/actions/ruff-lint/action.yml

      - name: Run unit Tests
        shell: bash
        run: |
          echo "Insert pytest call here"

      - name: Google Cloud Auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
          project_id: ${{ env.PROJECT_ID }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker Authentication
        shell: bash 
        run: |
          gcloud auth configure-docker ${{ env.REGION_ID }}-docker.pkg.dev

      - name: Build and Push Docker Image
        shell: bash
        run: |
          echo "Building and pushing image ${{ env.DOCKER_IMAGE_URL }} to Google Cloud Artifact Registry"
          docker build -t ${{ env.DOCKER_IMAGE_URL }}:${{ env.TAG_VERSION }} -f ${{ env.DOCKER_IMAGE_PATH}} .
          docker push ${{ env.DOCKER_IMAGE_URL }}:${{ env.TAG_VERSION }}

      - name: Deploy Container to Cloud Run
        shell: bash
        run: |
          echo "Deploying Image: ${{env.DOCKER_IMAGE_URL }}:${{ env.TAG_VERSION }}"
          echo "Google Cloud Run Service: ${{ env.SERVICE_NAME }}"
          gcloud run deploy ${{ env.SERVICE_NAME }} \
            --image ${{ env.DOCKER_IMAGE_URL }}:${{ env.TAG_VERSION }} \
            --platform managed \
            --region ${{ env.REGION_ID }} \
            --allow-unauthenticated